.Error {
    font-size: 0.75rem;
    width: 75%;
    background-color: rgba(255,80,73, 0.75);
    margin: 0.4rem auto;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

@media(min-width: 400px) {
    .Error {
        width: 70%;
        font-size: 0.85rem;
    }
}

@media(min-width: 600px) {
    .Error {
        width: 48%;
        font-size: 1rem;
        padding: 0.6rem;
    }
}

@media(min-width: 900px) {
    .Error {
        font-size: 1.25rem;
    }
}

@media(min-width: 1200px) {
    .Error {
        font-size: 1.5rem;
    }
}