.BackgroundImage {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(186, 186, 186, 1);
    background-image: url('../../assets/images/santa-cartoon-xs.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -100;
}

.TopCont {
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .BackgroundImage { background-image: url('../../assets/images/santa-cartoon-sm-md.png'); }
}

@media (min-width: 1200px) {
    .BackgroundImage { background-image: url('../../assets/images/santa_cartoon.png'); }
}