.InputDrawer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0.4rem;
    background-color: rgba(137, 137, 137, 0.85);
}

.TitleBar {
    font-weight: bold;
    width: 70%;
    padding: 0.5rem;
    color: white;
    text-shadow: -1px -1px 2px black;
    text-transform: uppercase;
}

.LinkContainer {
    padding: 0.75rem;
    flex: 1 100%;
}

.Or {
    font-size: 0.9rem;
    width: 100%;
    color: white;
    text-shadow: -1px -1px 2px black;
    padding-bottom: 0.25rem;
}

.Link {
    font-size: 0.85rem;
    color: blue;
    text-decoration: underline;
    text-shadow: none;
    margin-left: 0.15rem;
    cursor: pointer;
}

.Logout {
    position: absolute;
    bottom: 1.6rem;
    right: 0.5rem;
    padding: 0.4rem;
    color: white;
    background-color: rgba(62, 62, 62, 0.88);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ResetPassTitle {
    display: none;
    font-size: 0.9rem;
    width: 70%;
    color: white;
    text-shadow: -1px -1px 2px black;
    margin: 0.5rem;
    padding: 0.5rem;
}

.Logout:hover {
    transform: scale(0.98);
}

.Logout:focus {
    outline-color: rgb(6, 71, 224);
}

.Break {
    flex-basis: 100%;
    height: 0;
}

@media (min-width: 400px) {
    .TitleBar {
        font-size: 1.15rem;
    }
    .Or {
        font-size: 1rem;
    }
    .Link {
        font-size: 0.9rem;
    }
    .ResetPassTitle {
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    .InputDrawer {
        padding: 1.5rem 0.4rem;
    }
    .TitleBar {
        font-size: 1.35rem;
    }
    .Or {
        font-size: 1.1rem;
    }
    .LinkContainer {
        padding: 1rem;
    }
    .Link {
        font-size: 1rem;
    }
    .Logout {
        font-size: 0.9rem;
        bottom: 2.25rem;
        right: 0.8rem;
    }
    .ResetPassTitle {
        font-size: 1.25rem;
    }
}

@media (min-width: 900px) {
    .InputDrawer {
        padding: 1.75rem 0.4rem;
    }    
    .TitleBar {
        font-size: 1.5rem;
    }
    .Or {
        font-size: 1.2rem;
    }
    .LinkContainer {
        padding: 1.25rem;
    }
    .Link {
        font-size: 1.1rem;
    }
    .Logout {
        font-size: 1rem;
        bottom: 3rem;
        right: 1rem;
    }
    .ResetPassTitle {
        font-size: 1.35rem;
    } 
}

@media (min-width: 1200px) {
    .InputDrawer {
        padding: 2rem 0.4rem;
    }    
    .TitleBar {
        font-size: 1.75rem;
    }
    .Or {
        font-size: 1.3rem;
    }
    .Link {
        font-size: 1.2rem;
    }
    .Logout {
        font-size: 1.25rem;
        bottom: 3.5rem;
        right: 1.25rem;
    }
    .ResetPassTitle {
        font-size: 1.45rem;
    }
}
